body  {
    margin: 0;
}
header {
    /* background-color: red; */
    background-color: #FAF5EE;
    /* background-image: url("../img/header_background2.png"); */
    background-size: 200px;
    height: 130px;
}
a {
    text-decoration: none;
}
nav {
    /* margin-left: 33%; */
    width: 100%;
    margin-top: -70px;
    margin-bottom: 10px;
}
.nav {
    list-style: none;
    font-size:1.2rem;
    width:200px;
}
.nav_a {
    width:200px;
}
.nav_list a :hover{
    color:#85898e;
}
.nav_a li{
    width:200px;
    white-space: nowrap;
    text-align: center;
}
#site_icon {
    width:350px;
    margin-top: 35px;
    margin-left:15px;
}
.icon_grp {
    /* text-align: center; */
    margin-bottom: 50px;
}
.nav_list {
    display: flex;
    justify-content: center;
}
.nav_list a {
    color:#4d5156;
    /* font-family: 'Qwitcher Grypen', cursive; */
    font-family: 'Kosugi Maru', sans-serif;
}
.nav_list a:visited {
    color:#4d5156;
}
.borders {
    border-right: 2px dotted black;
    border-left: 2px dotted black;
}
.moyasikun {
    width:100%;   
    text-align: right;
}

.moyasikun img {
    width: 80px;
    margin-right: 120px;
    margin-top: -100px;
}
.nav_img {
    width:190px;
}