.quiz{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.name{
    width: 40%;
    height: 50px;
    background-color: rgba(255, 255, 255, 50%);
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 25px;
}

.button{
    overflow: hidden;
    margin-top: 50px;
    width: 20%;
    height: 50px;
    background-color: rgb(30, 140, 60);
    border-radius: 5px;
    font-size: 30px;
    color: #fff;
}