html{
    background-image: url(../img/qmoyasihaikei.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    position: relative;

    background-color: rgba(0,0,0, 0.5);
    background-blend-mode: hard-light;
    min-height: 100vh;
}

.moyassi-1{
  position: relative;
  margin-left: 10px;
  margin-top: 10%;
  /* width: 500px;
  height: 500px; */
}

.quiz{
    text-align: center;
}

.start{
    margin-top: 5%;
    /* margin-bottom: 5%; */
}

.text1{
  font-family: 'Mochiy Pop One', sans-serif;
  font-family: 'Vollkorn SC', serif;
  font-family: 'DotGothic16', sans-serif;
  
}

.mooutitle{
  margin-top: -20px;
  font-size: 70px;
  font-weight: bold;
}

.name{
  width: 60%;
  height: 50px;
  background-color: rgba(255, 255, 255, 50%);
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 25px;
}

.startbutton{
  overflow: hidden;
  margin-top: 40px;
  width: 30%;
  height: 60px;
  background-color: rgb(30, 140, 60);
  border-radius: 50px;
  font-size: 30px;
  color: #fff;
}

.startbutton:hover{
  background-color: #fff;
  color: rgb(30, 140, 60);
}

.button{
  overflow: hidden;
  margin-top: 40px;
  width: 20%;
  height: 60px;
  background-color: rgb(30, 140, 60);
  border-radius: 50px;
  font-size: 30px;
  color: #fff;
}

.button:hover{
  background-color: #fff;
  color: rgb(30, 140, 60);
}

.quizcontener{
  margin-top: 5%;
}

.inner-block {
  position: relative;
  width: calc(100% - 60px);
  margin: 0 auto;
  max-width: 1000px;
}
 
.quiz-content {
  border: 1px solid #222;
  background-color: rgba(255, 255, 255, 60%);
}

.quiz-question-number {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  border-bottom: 1px solid #222;
  padding: 20px;
}

.quiz-question {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.8;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  padding: 30px 200px 0px;
}

 .quiz-answer {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 0 10px 10px;
}

.quiz-answer li{
  position: relative;
  list-style:none
}

.quiz-answer label{
  display: block;
  margin: 0 auto;
  height: 60px;
  display: flex;
  align-items: center;
  width: 90%;
  background: #c8eac3;
  color: #000;
  padding: 4px 20px 4px 80px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.16;
  position: relative;
  transition: 0.3s ease-in-out;
  border: 1px solid #000;
  white-space: pre-wrap;
}
.quiz-answer label:hover{
  background: #1a720d;
  color: #FFF;
}
.quiz-answer input{
  display: none;
}

.answercontainer{
  background-color: rgba(255, 255, 255, 80%);
  height: 450px;
  margin-left: 10%;
  margin-right: 10%;
}

.answer{
  padding-top: 3%;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  
}

.quizhr{
  text-align: center;
  width: 80%;
  background-color: rgb(30, 140, 60);
  height: 5px;
  margin-bottom: 20px;
}

.explanation{
  width: 80%;
  height: 60%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 20px;
}

.next{
  text-align: right;
}

.finishcontainer{
  background-color: rgba(255, 255, 255, 80%);
  height: 450px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

#particles-js{ 
	position:fixed;/*描画固定*/
	z-index:-1;/*描画を一番下に*/
	width: 100%;
	height: 100%;
}

#wrapper{
	position: relative;/*描画を#particles-jsよりも上にするためposition:relative;を指定*/
	z-index: 1;/*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
	width:100%;
	height: 100%;
}
.answernum{
  padding-left: 15px;
  padding-top: 10px;
  font-size: 40px;
  letter-spacing : 0.42em;
  font-weight: 700;
}

.syougou{
  font-size: 30px;
  margin-top: -40px;
}

.returncontainer{
  margin-top: 50px;
  text-align: center;
}

.twitter-hashtags-btn{
  width: 30%;
  text-decoration: none;
  background-color: #1e9bf0;
  color: #FFF;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.twitter-hashtags-btn:hover{
  background-color: #fff;
  color: #1e9bf0;
  border-radius: 50px;
}

.return{
  text-decoration: none;
  background-color: rgb(30, 140, 60);
  color: #FFF;
  border-radius: 50px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 100px;
}

.return:hover{
  background-color: #fff;
  color: rgb(30, 140, 60);
  border-radius: 50px;
}

