.heading{
    font-size: 1.5em;/* フォントサイズ */
    font-weight: bold;/* フォント太さ */
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    border-bottom: 3px solid  #409614;/* 下の線 */
    color: #409614;/* フォント色 */
    text-align: center;/* テキストの位置 */
    }

.contents-wrapper h1{
    display: inline-block;
    position: relative;
    text-align: center;
}
      
h1:before {
    display: inline-block;
    position: absolute;
    content: '';
    bottom: 260px; /*下線の上下の位置*/
    left: 50%;
    width: 120px; /*下線の幅*/
    height: 1px; /*下線の太さ*/
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%); /*位置の調整*/
    background-color: #666666; /*下線の色*/
    text-align: center;
}
    
.wrapper{
        width:100%;
        /* background-color:#fafafa; */
    }
.wrapper .container{
    max-width:1000px;
    margin:0px auto;
    padding:0px 0px;
}
/* content */
@media (min-width: 992px) {
    .wrapper .container .content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.wrapper .content-item {
    width:100%;
}
@media (min-width: 992px) {
    .wrapper .content-item {
        width:50%;
    }
}
.wrapper .image{
    display:block;
    max-width:100%;
    margin:0px auto;
}
.wrapper .text{
    padding:50px;
}

/* 以下嵯峨拓人が書いたcss */
/* ヘッダー下に空間を確保するためのcss */
.header_btm {
    width:100%;
    height:270px; /*ここは消してもいい*/
    background-color: rgb(244, 244, 229);/*ここは消してもいい 背景素材に変えるのも可*/
}
/* ヘッダー下の空間に文字を入れるcss */
.head_tit {
    margin:0;
    text-align: center;
    padding-top: 90px;
    font-size: 30px;
    font-weight: initial;
}
.head_art {
    margin: 0;
    text-align: center;
    padding-top: 10px;
    font-size:33px;
}
/* ヘッダー下の枠をワイド80%にするcss */
.content {
    width:100%;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(244, 244, 229) ;/*ここは消してもいい*/
}
.content2 {
    width:100%;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(244, 244, 229) ;/*ここは消してもいい*/
}
.content2 .header_btm {
    width:100%;
    height:250px; /*ここは消してもいい*/
    background-color: rgb(244, 244, 229);/*ここは消してもいい 背景素材に変えるのも可*/
}
.content2 .header_btm h1 {
    margin:0;
    text-align: center;
    padding-top: 120px;
    font-size: 33px;
    font-weight: initial;
}
.sec_img {
    width:100%;
}
.sec_img img {
    width:100%;
}
.sec_img h1 {
    font-weight: initial;
    padding-left: 3%;
}
.sec_img p {
    padding-left: 3%;
}
.flex2 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width:80%;
}
.flex2 div:nth-child(1) {
    margin-right: 2%;
}
.flex2 div:nth-child(2) {
    margin-left: 2%;
}

.content_img {
    width:96%;
}
.content_tit {
    margin: 0;
    font-weight: initial;
    text-align: left;
    font-size:28px;
}
.flex {
    display: flex;
    width:100%;
}
.grp1 {
    position: relative;
    width:45%;
}
.shadow {
    padding-top: 6%;
    padding-left: 4%;
}
.upper {
    position: absolute;
    left:10%;
}
.shadow2 {
    padding-top: 6%;
    padding-left: 15%;
}
.upper2 {
    position: absolute;
    left:8%;
}
.article {
    width:40%;
    margin: 0;
    padding-top: 30px;
    padding-left: 8%;
}
.article p {
    text-align: left;
    padding-top: 10px;
    margin: 0;
    line-height: 2rem;
}
