.about{
    /* margin-left: 15%;
    margin-right: 15%; */
}
section {
  width:80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.recipe{
    /* margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%; */
}

.flex {
    display: flex; /*横並び*/
  }
  
  .flex .text2 {
    padding-left: 20px;
  }
  .flex img {
    width:500px;
  }
.yu-gotic {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  line-height: 2rem;
}
.tit_font {
  margin-top: 100px;
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 30px;
  margin-bottom: 0.2rem;
  padding: 0.5rem;
  position: relative;
  border-bottom: 5px solid;
  color: #F09033;
  font-weight: bold;
  margin-bottom: 50px;
}

.tit_font:before {
  position: absolute;
  bottom: -0.6rem;
  left: 0rem;
  right: 0rem;
  border-bottom: 1px solid;
  content: '';
}
.btn {
  max-width: 300px;
  margin: 0 auto;
  margin-top:30px;
  margin-left: 69%;
}
a.btn_03 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  position: relative;
  background: #B66655;
  border: 1px solid #B66655;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 0 45px 0 25px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 1.3;
  text-align: left;
  text-decoration: none;
  transition-duration: 0.3s;
  font-family: 'Kosugi Maru', sans-serif;
}
a.btn_03:before {
  content: '';
  width: 8px;
  height: 8px;
  border: 0;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 25px;
  margin-top: -6px;
}
a.btn_03:hover {
  background: #fff;
  color: #B66655;
}
a.btn_03:hover:before {
  border-top: 2px solid #B66655;
  border-right: 2px solid #B66655;
}

.tit_wid {
  width:100%;
}
.article_bold {
  font-weight: bold;
}
.recipe img {
  vertical-align: bottom;
}
.slide_grp {
  position:relative;
}
.slide_icon {
  position: absolute;
  top: 30%;
  left: 0%;
  transform: translate(-50%, -50%);
  transform: scale(2,2);
  transform:skew(-5deg,-5deg);
}

#site_icon2 {
  /* width:1000px; */
  /* position: fixed; */
  width:70%;
}