.about{
    margin-left: 15%;
    margin-right: 15%;
}

.recipe{
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
}

.flex {
    display: flex; /*横並び*/
  }
  
  .flex .text2 {
    margin-left: 50px;
    width:600px;
  }
  .flex img {
    width:300px;
    height: 300px;
  }

